Koordinat hatası

Long ve lat yer değiştirmesi gerekiyor

Merhabalar,
geojson da ki coordinates içinde ki 0 long 1 ise lat. Bunu mongoDB dökümanına göre hazırladım.
https://www.mongodb.com/docs/manual/reference/geojson/#geojson-objects
"If specifying latitude and longitude coordinates, list the longitude first, and then latitude.".

Konu için teşekkür ederim.

Ama koordinat sisteminde önce enlem yani latitude girilir. Sizin API'nizin verdiği koordinatları arayınca yanlış yerler çıkıyor.

Evet ama bunu veritabanına göre tasarlamak zorundaydım.

Ayrıca RFC 7946 section3.1.1 de belirtilen Position standartına baktığımızda:
https://www.rfc-editor.org/rfc/rfc7946#section-3.1.1
yine long 0 . eleman.

Ayrıca;
Leaflet uses lat-lng (or northing-easting ) whereas GeoJSON uses lng-lat (or easting-northing). Burada yanlış bir kullanım yoktur yani.

👍